[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Pygments = "*"
codecov = "==2.1.12"
coverage = "==6.3.2"
dill = "==0.3.3"
docker = "==5.0.3"
flake8 = "==4.0.1"
flake8-formatter-abspath = "==1.0.1"
pytest = "==7.1.1"
pytest-asyncio = "==0.18.2"
pytest-cov = "==3.0.0"
pytest-xdist = "==2.2.1"
moto = {extras = ["server", "s3", "sqs", "lambda", "dynamodb", "cloudformation", "sns", "batch", "ec2", "rds"],version = "~=2.2.19"}

[packages]
aiohttp = "==3.8.1"
aiobotocore = {editable = true,extras = ["awscli", "boto3"],path = "."}
